.Actions {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0;

  &Console {
    margin: 24px 0 0;
  }
}

.Alert {
  background: var(--color-orange-200);
  border: 1px solid var(--color-orange-400);
  border-radius: 4px;
  color: var(--color-orange);
  padding: 16px;
}

.Console {
  background: var(--color-blue-gray-900);
  margin: 0 -24px;
  font-family: monospace, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 408px;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 24px;
}

.Container {
  max-width: 480px;

  &Console {
    max-height: calc(100% - 80px);
    max-width: 720px;
    overflow: hidden;
  }
}

.Error {
  color: var(--color-danger);
}

.Loading {
  align-items: center;
  background: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.Message {
  &Date {
    color: var(--color-gray);
  }

  &Pub {
    color: var(--color-success);
    margin: 16px 0 0;
  }

  &Text {
    color: var(--color-white);

    &Is {
      &Failure {
        color: var(--color-danger);
      }

      &Success {
        color: var(--color-success);
      }
    }
  }
}

.Progress {
  color: var(--color-success);
  margin: 0 8px 0 0;

  // height: 20px;
  // position: relative;
  // width: 100%;

  // &Bar {
  //   background: var(--color-white);
  //   height: 100%;
  // }
}

.Retry {
  color: var(--color-danger);
}
