.Container {
  max-width: 680px;
  overflow-x: visible;
  overflow-y: scroll;
}

.Frame {
  margin: 16px 0 0;
}

.Link {
  color: var(--color-primary);
  text-decoration: none;
}

.Steps {
  display: flex;
  margin: 16px 0 0;

  & > * {
    height: 512px;
    width: 304px;

    &:not(:first-child) {
      margin: 0 0 0 20px;
    }
  }
}
