.Typography_Root__1jrlC {
  margin: 0; }
  .Typography_RootColorAlert__1pMJw {
    color: var(--color-alert); }
  .Typography_RootColorDanger__2Lh3O {
    color: var(--color-danger); }
  .Typography_RootColorDark__2mLeu {
    color: var(--color-blue-gray-900); }
  .Typography_RootColorLight__qUzCy {
    color: var(--color-gray-900); }
  .Typography_RootColorLighter__20Pn8 {
    color: var(--color-gray-700); }
  .Typography_RootColorMedium__ETEfx {
    color: var(--color-blue-gray-400); }
  .Typography_RootColorPrimary__2lBhy {
    color: var(--color-primary); }
  .Typography_RootColorSuccess__3L7O7 {
    color: var(--color-success); }
  .Typography_RootNowrap__2FhFs {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .Typography_RootVariantH1__1149n {
    font-size: 96px;
    font-weight: 300;
    letter-spacing: -1.5px;
    line-height: 112px; }
  .Typography_RootVariantH2__1XUt6 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -.5px;
    line-height: 72px; }
  .Typography_RootVariantH3__3SR68 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px; }
  .Typography_RootVariantH4__2wmjo {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 40px; }
  .Typography_RootVariantH5__3yNGX {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px; }
  .Typography_RootVariantH6__4DsB- {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px; }
  .Typography_RootVariantBody1__1ZDz7 {
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 28px; }
  .Typography_RootVariantBody2__34AqP {
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 20px; }
  .Typography_RootVariantButton__pNFfY {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.3px;
    line-height: 16px;
    text-transform: uppercase; }
  .Typography_RootVariantCaption__h75B0 {
    font-size: 12px;
    letter-spacing: .4px;
    line-height: 16px; }
  .Typography_RootVariantOverline__3dCyk {
    font-size: 10px;
    letter-spacing: 1.5px;
    line-height: 16px;
    text-transform: uppercase; }
  .Typography_RootVariantSubtitle1__30Ekp {
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 24px; }
  .Typography_RootVariantSubtitle2__xqNxj {
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 24px; }

.Button_Root__1TkYv {
  -webkit-align-items: center;
          align-items: center;
  background: transparent;
  border: 0;
  border-radius: 4px;
  display: -webkit-flex;
  display: flex;
  height: 36px;
  -webkit-justify-content: center;
          justify-content: center;
  min-width: 64px;
  padding: 0 16px;
  position: relative; }
  .Button_Root__1TkYv:hover {
    cursor: pointer; }
  .Button_RootColorDanger__R38mT {
    background: var(--color-danger); }
    .Button_RootColorDanger__R38mT .Button_Content__3Vhgm {
      color: var(--color-white); }
  .Button_RootColorPrimary__7Ye9Q {
    background: var(--color-primary); }
    .Button_RootColorPrimary__7Ye9Q .Button_Content__3Vhgm {
      color: var(--color-white); }
  .Button_RootColorSecondary__3-zc7 {
    background: var(--color-white); }
  .Button_RootColorSuccess__3prRr {
    background: var(--color-success); }
    .Button_RootColorSuccess__3prRr .Button_Content__3Vhgm {
      color: var(--color-white); }
  .Button_RootGradientGreen__3MlTc {
    background: var(--gradient-green); }
    .Button_RootGradientGreen__3MlTc .Button_Content__3Vhgm,
    .Button_RootGradientGreen__3MlTc .Button_Icon__BjpdF {
      color: var(--color-white); }
  .Button_RootGradientOrange__37qRR {
    background: var(--gradient-orange); }
    .Button_RootGradientOrange__37qRR .Button_Content__3Vhgm,
    .Button_RootGradientOrange__37qRR .Button_Icon__BjpdF {
      color: var(--color-white); }
  .Button_RootGradientPurple__2cbmW {
    background: var(--gradient-purple); }
    .Button_RootGradientPurple__2cbmW .Button_Content__3Vhgm,
    .Button_RootGradientPurple__2cbmW .Button_Icon__BjpdF {
      color: var(--color-white); }
  .Button_RootGradientRed__Ewkl3 {
    background: var(--gradient-red); }
    .Button_RootGradientRed__Ewkl3 .Button_Content__3Vhgm,
    .Button_RootGradientRed__Ewkl3 .Button_Icon__BjpdF {
      color: var(--color-white); }
  .Button_RootVariantFilled__z_PZ_ {
    box-shadow: var(--shadow-down-z1); }
    .Button_RootVariantFilled__z_PZ_:hover {
      box-shadow: var(--shadow-down-z3); }
  .Button_RootVariantFull__b2AvG .Button_Icon__BjpdF {
    font-size: 16px;
    height: 18px;
    margin: 0 8px 0 -4px;
    width: 18px; }
  .Button_RootVariantFullWidth__x7hiU {
    width: 100%; }
  .Button_RootVariantIcon__3bCYK {
    height: 36px;
    min-width: 36px;
    padding: 0;
    width: 36px; }
    .Button_RootVariantIcon__3bCYK:hover {
      background: var(--background-dark); }

.Button_Content__3Vhgm {
  max-width: 100%; }

.Button_Icon__BjpdF {
  -webkit-align-items: center;
          align-items: center;
  color: inherit;
  display: -webkit-flex !important;
  display: flex !important;
  font-size: 20px;
  height: 24px;
  -webkit-justify-content: center;
          justify-content: center;
  width: 24px; }

.Progress_Root__2tJjM {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%; }
  .Progress_RootColorPrimary__3W7Gm .Progress_Circle__1clFL {
    stroke: var(--color-primary); }
  .Progress_RootColorPrimary__3W7Gm .Progress_Line__-NgK1 {
    background: var(--color-primary); }
  .Progress_RootColorSuccess__mKeZa .Progress_Circle__1clFL {
    stroke: var(--color-success); }
  .Progress_RootColorSuccess__mKeZa .Progress_Line__-NgK1 {
    background: var(--color-success); }
  .Progress_RootVariantLinear__2sozK .Progress_Progress__2rykv {
    border-radius: 4px;
    height: 6px;
    overflow: hidden;
    width: 100%; }
  .Progress_RootVariantLinear__2sozK.Progress_RootColorPrimary__3W7Gm .Progress_Progress__2rykv {
    background: var(--color-blue-300); }
  .Progress_RootVariantLinear__2sozK.Progress_RootColorSuccess__mKeZa .Progress_Progress__2rykv {
    background: var(--color-green-300); }
  .Progress_RootVariantIndeterminate__2RRFC .Progress_Circle__1clFL {
    -webkit-animation: Progress_progressCircularDash__2vDwI 1.6s ease-in-out infinite;
            animation: Progress_progressCircularDash__2vDwI 1.6s ease-in-out infinite; }
  .Progress_RootVariantIndeterminate__2RRFC.Progress_RootVariantCircle__32IDL .Progress_Progress__2rykv {
    -webkit-animation: Progress_progressCircularRotate__263Dm 1.6s linear infinite;
            animation: Progress_progressCircularRotate__263Dm 1.6s linear infinite; }
  .Progress_RootVariantIndeterminate__2RRFC.Progress_RootVariantLinear__2sozK .Progress_Line__-NgK1 {
    -webkit-animation: Progress_progressLinear__2xPkR 1.6s linear infinite;
            animation: Progress_progressLinear__2xPkR 1.6s linear infinite; }

.Progress_Line__-NgK1 {
  height: 100%;
  position: absolute; }

.Progress_Progress__2rykv {
  position: relative; }

@-webkit-keyframes Progress_progressCircularDash__2vDwI {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px; }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px; }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px; } }

@keyframes Progress_progressCircularDash__2vDwI {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px; }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px; }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px; } }

@-webkit-keyframes Progress_progressCircularRotate__263Dm {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes Progress_progressCircularRotate__263Dm {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes Progress_progressLinear__2xPkR {
  0% {
    left: 0%;
    width: 0%; }
  25% {
    left: 0%;
    width: 25%; }
  50% {
    left: 30%;
    width: 60%; }
  75% {
    left: 75%;
    width: 35%; }
  100% {
    left: 100%;
    width: 0%; } }

@keyframes Progress_progressLinear__2xPkR {
  0% {
    left: 0%;
    width: 0%; }
  25% {
    left: 0%;
    width: 25%; }
  50% {
    left: 30%;
    width: 60%; }
  75% {
    left: 75%;
    width: 35%; }
  100% {
    left: 100%;
    width: 0%; } }

.Table_Root__1H6OL .ReactTable {
  border: 0; }
  .Table_Root__1H6OL .ReactTable .rt-expander {
    margin: 0 0 0 -4px; }
  .Table_Root__1H6OL .ReactTable .rt-table {
    overflow: visible; }
  .Table_Root__1H6OL .ReactTable .rt-tbody {
    overflow: visible;
    overflow: initial; }
  .Table_Root__1H6OL .ReactTable .rt-td {
    -webkit-align-items: center;
            align-items: center;
    border: 0 !important;
    display: -webkit-flex;
    display: flex;
    overflow: visible;
    padding: 0 16px; }
  .Table_Root__1H6OL .ReactTable .rt-thead {
    border-bottom: 2px solid var(--background-dark) !important;
    box-shadow: none !important;
    height: 48px;
    padding: 0 8px; }
    .Table_Root__1H6OL .ReactTable .rt-thead .rt-th {
      -webkit-align-self: center;
              align-self: center;
      border: 0 !important;
      color: var(--color-gray);
      display: -webkit-flex;
      display: flex;
      font-size: 12px;
      font-weight: 500;
      height: 48px;
      overflow: visible;
      padding: 0 16px; }
      .Table_Root__1H6OL .ReactTable .rt-thead .rt-th > div:first-child {
        -webkit-align-items: center;
                align-items: center;
        display: -webkit-flex;
        display: flex; }
        .Table_Root__1H6OL .ReactTable .rt-thead .rt-th > div:first-child:after {
          -webkit-align-items: center;
                  align-items: center;
          display: -webkit-flex;
          display: flex;
          font-family: 'Font Awesome 5 Pro';
          font-size: 14px;
          height: 18px;
          -webkit-justify-content: center;
                  justify-content: center;
          margin: 0 0 0 4px;
          width: 18px; }
      .Table_Root__1H6OL .ReactTable .rt-thead .rt-th.-sort-asc > div:first-child:after {
        content: '\F160'; }
      .Table_Root__1H6OL .ReactTable .rt-thead .rt-th.-sort-desc > div:first-child:after {
        content: '\F161'; }
      .Table_Root__1H6OL .ReactTable .rt-thead .rt-th.-sort-asc, .Table_Root__1H6OL .ReactTable .rt-thead .rt-th.-sort-desc {
        box-shadow: none;
        color: var(--color-blue-gray); }
  .Table_Root__1H6OL .ReactTable .rt-tr {
    min-height: 48px;
    padding: 0 8px; }
  .Table_Root__1H6OL .ReactTable .rt-tr-group {
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 20px;
    min-height: 48px; }
    .Table_Root__1H6OL .ReactTable .rt-tr-group:hover {
      background: var(--background-lighter); }

.Tooltip_Root__1Ybnv {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  position: relative; }
  .Tooltip_Root__1Ybnv:hover .Tooltip_Tooltip__1GAQQ {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition-delay: 1.5s;
    visibility: visible; }

.Tooltip_Tooltip__1GAQQ {
  -webkit-align-items: center;
          align-items: center;
  background: #000;
  border-radius: 4px;
  bottom: -32px;
  color: var(--color-white);
  display: -webkit-flex;
  display: flex;
  height: 24px;
  opacity: 0;
  padding: 0 8px;
  position: absolute;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  transition-delay: 0s;
  visibility: hidden;
  z-index: 10; }

.Actions_Root__2nt1Z {
  display: -webkit-flex;
  display: flex; }
  .Actions_Root__2nt1Z > *:not(:first-child) {
    margin: 0 0 0 8px; }

.Actions_ButtonVariantDeposit__3o66p:hover .Actions_Icon__1cxwv {
  color: var(--color-success); }

.Actions_ButtonVariantPause__3EwE4:hover .Actions_Icon__1cxwv {
  color: var(--color-danger); }

.Actions_ButtonVariantPlay__27wee:hover .Actions_Icon__1cxwv {
  color: var(--color-primary); }

.Actions_ButtonVariantWithdraw__zGKnY:hover .Actions_Icon__1cxwv {
  color: var(--color-primary); }

.Actions_Icon__1cxwv {
  color: var(--color-gray-400);
  font-size: 20px; }

.Field_Root__2c5lf {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  max-width: 100%;
  width: 100%; }
  .Field_RootColorError__H4lUh .Field_Text__1XFn1 {
    color: var(--color-danger); }
  .Field_RootColorDanger__2alta .Field_Text__1XFn1 {
    color: var(--color-orange-500); }
  .Field_RootColorOrange__GGlyG .Field_Text__1XFn1 {
    color: var(--color-orange-900); }
  .Field_RootColorSuccess__3q_lR .Field_Text__1XFn1 {
    color: var(--color-success); }
  .Field_RootIsDisabled__M79Ey {
    color: var(--color-gray-600); }
    .Field_RootIsDisabled__M79Ey .Field_Text__1XFn1 {
      max-width: 100%; }
  .Field_RootVariantHash__2ytO3 .Field_Text__1XFn1 {
    max-width: calc(100% - 44px); }
  .Field_RootVariantPing__jqFuB .Field_Text__1XFn1 {
    font-size: 18px;
    text-align: center; }

.Field_Copy__1xoMg {
  margin: 0 8px 0 0; }

.Field_Health__1VKHa {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 28px;
  position: relative;
  width: 192px; }
  .Field_HealthBar__1INxc {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1; }
  .Field_HealthIndex__3Qahi {
    -webkit-align-items: center;
            align-items: center;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
            justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2; }
    .Field_HealthIndex__3Qahi > div {
      background: rgba(0, 0, 0, 0.4);
      padding: 0 2px; }

.Field_Icon__3FZvO {
  color: var(--color-primary); }

.Field_Text__1XFn1 {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Field_Word__1XJIh {
  height: 28px;
  overflow: hidden;
  width: 12px; }
  .Field_WordVariantGreen__2EDYs {
    background: var(--color-success); }
  .Field_WordVariantLight__3pSgC {
    background: var(--color-green-400); }
  .Field_WordVariantOrange__1Sy5W {
    background: var(--color-alert); }
  .Field_WordVariantRed__3RCIc {
    background: var(--color-danger); }
  .Field_WordVariantYellow__13Gcu {
    background: var(--color-orange-400); }

.Stat_Root__2gNfo {
  border-top: 1px solid var(--background-dark);
  padding: 24px 0 24px 48px;
  width: 100%; }

.Stat_Description__3vz8f {
  color: var(--color-blue-600);
  margin: 8px 0 0; }

.Stat_Label__10TC6 {
  color: var(--color-gray); }

.Stat_List__2P_Yi {
  display: -webkit-flex;
  display: flex;
  margin: 20px 0 0; }
  .Stat_List__2P_Yi > *:not(:first-child) {
    margin: 0 0 0 64px; }

.Stat_Ping__11RiU {
  margin: 20px 0 0; }

.Stat_ValueColorAlert__3tOmV {
  color: var(--color-alert); }

.Stat_ValueColorDanger__3PTDN {
  color: var(--color-danger); }

.Stat_ValueColorOrange__148zl {
  color: var(--color-orange-900); }

.Stat_ValueColorPrimary__AbV8e {
  color: var(--color-primary); }

.Stat_ValueColorSuccess__108BU {
  color: var(--color-success); }

.Table_Root__u77pD {
  border-bottom: 1px solid var(--background-dark) !important; }
  .Table_Root__u77pD .rt-td:first-child {
    border-right: 1px solid var(--background-dark) !important; }
  .Table_RootIsDisabled__1ppp5 {
    background: var(--background-lighter);
    color: var(--color-gray); }
  .Table_RootIsFavorite__10dsG {
    background: #fff6ce;
    border-bottom: 1px solid #ffed90 !important;
    color: var(--color-alert); }
    .Table_RootIsFavorite__10dsG:hover {
      background: #fff6ce !important; }
    .Table_RootIsFavorite__10dsG .rt-td:first-child {
      border-right: 1px solid #ffed90 !important; }

.Modal_Root__21etl {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-justify-content: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10; }

.Modal_Backdrop__1E3xq {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  .Modal_Backdrop__1E3xq:hover {
    cursor: pointer; }

.Modal_Container__2pWia {
  -webkit-animation: Modal_modalInit__3evqM 0.2s ease-in-out;
          animation: Modal_modalInit__3evqM 0.2s ease-in-out;
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z5);
  max-height: calc(100% - 160px);
  max-width: 960px;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 24px;
  position: relative;
  z-index: 2;
  width: 100%; }

.Modal_Title__i5gwc {
  margin: 0 0 20px; }

@-webkit-keyframes Modal_modalInit__3evqM {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes Modal_modalInit__3evqM {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.Common_Actions__3VM7a {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 40px 0 0; }
  .Common_ActionsConsole__1vWVH {
    -webkit-flex: 0 0 40px;
            flex: 0 0 40px;
    margin: 24px 0 0; }

.Common_Alert__20324 {
  background: var(--color-orange-200);
  border: 1px solid var(--color-orange-400);
  border-radius: 4px;
  color: var(--color-orange);
  padding: 16px; }

.Common_Console__ht_wH {
  background: var(--color-blue-gray-900);
  margin: 0 -24px;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: monospace, sans-serif;
  font-size: 14px;
  line-height: 20px;
  max-height: calc(100% - 40px);
  overflow-x: visible;
  overflow-y: hidden;
  padding: 24px; }

.Common_Container__2hcv9 {
  max-width: 480px; }
  .Common_ContainerConsole__zTFx7 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    max-height: calc(100% - 80px);
    max-width: 720px; }
    .Common_ContainerConsole__zTFx7 > div:nth-child(2) {
      display: -webkit-flex;
      display: flex;
      -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-flex-direction: column;
              flex-direction: column; }

.Common_Error__1jOrw {
  color: var(--color-danger); }

.Common_Loading__3_GjC {
  -webkit-align-items: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.Common_MessageDate__1EeMH {
  color: var(--color-gray); }

.Common_MessagePub__F77bX {
  color: var(--color-success);
  margin: 16px 0 0; }

.Common_MessageText__37Itn {
  color: var(--color-white); }
  .Common_MessageTextIsFailure__3Y_tu {
    color: var(--color-danger); }
  .Common_MessageTextIsSuccess__3VUIf {
    color: var(--color-success); }

.Common_NodeGroup__1n3_K {
  display: -webkit-flex;
  display: flex; }
  .Common_NodeGroup__1n3_K > *:first-child {
    margin: 0 24px 0 0; }
  .Common_NodeGroup__1n3_K > *:last-child {
    margin: 0 0 0 24px; }

.Common_Progress__3IUHc {
  color: var(--color-success);
  margin: 0 8px 0 0; }

.Common_Retry__1kSUT {
  color: var(--color-danger); }

.Form_Error__29lzg {
  background: var(--color-red-200);
  border: 1px solid var(--color-red-400);
  border-radius: 4px;
  color: var(--color-danger);
  margin: 0 0 20px;
  padding: 16px; }

.Field_Root__1ybQn:not(:first-child) {
  margin: 20px 0 0; }

.Field_Error__2U12h {
  color: var(--color-danger); }

.Field_Header__3ywv2 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 0 0 8px; }

.Field_Label__3zgvS {
  display: block;
  color: var(--color-gray); }
  .Field_Label__3zgvS:hover {
    cursor: pointer; }

.Input_Root__11TAT {
  border: 1px solid var(--background-dark);
  border-radius: 4px;
  height: 48px;
  overflow: hidden; }
  .Input_RootIsErred__3DS0B {
    border-color: var(--color-danger);
    box-shadow: 0 0 0 1px var(--color-danger); }
  .Input_RootIsFocused__22lpb {
    border-color: var(--color-blue);
    box-shadow: 0 0 0 1px var(--color-blue); }
  .Input_RootIsReadOnly__3gNnZ {
    cursor: not-allowed; }
    .Input_RootIsReadOnly__3gNnZ .Input_Input__1PBiq {
      background: var(--background-lighter);
      pointer-events: none; }

.Input_Input__1PBiq {
  background: var(--color-white);
  border: 0;
  color: var(--color-blue-gray);
  font-family: inherit;
  font-size: 16px;
  height: 100%;
  letter-spacing: .2px;
  line-height: 24px;
  padding: 0 16px;
  width: 100%; }
  .Input_Input__1PBiq:focus {
    box-shadow: none !important; }
  .Input_Input__1PBiq::-webkit-input-placeholder {
    color: var(--color-gray-400); }
  .Input_Input__1PBiq::-moz-placeholder {
    color: var(--color-gray-400); }
  .Input_Input__1PBiq:-ms-input-placeholder {
    color: var(--color-gray-400); }
  .Input_Input__1PBiq:-moz-placeholder {
    color: var(--color-gray-400); }

.Select_Root__1ZHdd {
  position: relative; }
  .Select_RootIsEmpty__BcRUR .Select_Icon__2Wi5m {
    width: 100%; }
  .Select_RootIsFocused___s1ra .Select_Container__1H3P6 {
    border-color: var(--color-blue);
    box-shadow: 0 0 0 1px var(--color-blue); }
  .Select_RootIsMultiple__gf_eK:not(.Select_RootIsEmpty__BcRUR):not(.Select_RootIsEmpty__BcRUR):not(.Select_RootIsFocused___s1ra) .Select_Input__1e994 {
    height: 0;
    width: 0; }
  .Select_RootIsMultiple__gf_eK:not(.Select_RootIsEmpty__BcRUR) .Select_Input__1e994 {
    padding: 0 8px;
    width: auto; }

.Select_Container__1H3P6 {
  background: var(--color-white);
  border: 1px solid var(--background-dark);
  border-radius: 4px;
  display: -webkit-flex;
  display: flex;
  min-height: 48px;
  padding: 4px;
  overflow: hidden;
  width: 100%; }

.Select_Control__JzlLk {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: calc(100% - 46px);
  transition: all 0s; }

.Select_Dropdown__1Hk2a {
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z3);
  left: 0;
  max-height: calc(256px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  z-index: 2; }

.Select_Input__1e994 {
  background: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  height: 40px;
  letter-spacing: .2px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 16px;
  transition: all 0s;
  width: 100%; }
  .Select_Input__1e994:focus {
    box-shadow: none !important; }
  .Select_Input__1e994::-webkit-input-placeholder {
    color: var(--color-gray-400); }
  .Select_Input__1e994::-moz-placeholder {
    color: var(--color-gray-400); }
  .Select_Input__1e994:-ms-input-placeholder {
    color: var(--color-gray-400); }
  .Select_Input__1e994:-moz-placeholder {
    color: var(--color-gray-400); }

.Select_List__3RoNb {
  padding: 8px 0; }

.Select_Option__3ja3H {
  -webkit-align-items: center;
          align-items: center;
  background: var(--color-gray-400);
  border-radius: 666px;
  display: -webkit-flex;
  display: flex;
  height: 32px;
  margin: 4px;
  padding: 0 12px; }
  .Select_OptionDelete__2aoDK {
    background: transparent;
    border: 0;
    height: 18px;
    margin: 0 0 0 8px;
    padding: 0;
    width: 18px; }
    .Select_OptionDelete__2aoDK:hover {
      cursor: pointer; }
  .Select_OptionIcon__34Ayy {
    color: var(--color-blue-gray-600);
    font-size: 18px;
    height: 100%;
    width: 100%; }

.Item_Root__2KG2_ {
  background: transparent;
  border: 0;
  border-radius: 0;
  height: 48px;
  padding: 0 16px;
  width: 100%; }
  .Item_Root__2KG2_:hover {
    background: var(--background-light);
    cursor: pointer; }

.Metamask_Root__1dK5i {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }

.Metamask_Cover__3Fsbd {
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.Metamask_Container__UPMeO {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2; }

.Metamask_Logo__1dJI7 {
  height: 160px;
  width: 160px; }

.Metamask_Title__zIzmB {
  margin: 20px 0 0; }

.Determine_Root__3ABP9 {
  margin: 12px -24px 0;
  padding: 24px; }
  .Determine_RootIsSelected__1t6u4 {
    background: #fff6ce;
    border-bottom: 1px solid #ffed90;
    border-top: 1px solid #ffed90; }

.Determine_Content__3kIN1 {
  color: var(--color-gray);
  margin: 16px 0 0; }

.Guide_Container__3oN7_ {
  max-width: 680px;
  overflow-x: visible;
  overflow-y: scroll; }

.Guide_Frame__2_Gkf {
  margin: 16px 0 0; }

.Guide_Link__cAKbG {
  color: var(--color-primary);
  text-decoration: none; }

.Guide_Steps__1uj5P {
  display: -webkit-flex;
  display: flex;
  margin: 16px 0 0; }
  .Guide_Steps__1uj5P > * {
    height: 512px;
    width: 304px; }
    .Guide_Steps__1uj5P > *:not(:first-child) {
      margin: 0 0 0 20px; }

.Form_Actions__3Enci {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 40px 0 0; }
  .Form_ActionsConsole__3KeuT {
    margin: 24px 0 0; }

.Validators_Root__Wtar_ {
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z2);
  padding: 24px; }
  .Validators_RootIsConnected__3X0Ei .Validators_Status__3-RFg:before {
    background: var(--gradient-green); }
  .Validators_RootIsOwner__2GXjn .Validators_Status__3-RFg:before {
    background: var(--gradient-purple); }

.Validators_Actions__2aFDi {
  -webkit-align-items: flex-end;
          align-items: flex-end;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column; }
  .Validators_Actions__2aFDi > *:not(:first-child) {
    margin: 12px 0 0; }

.Validators_Connecting__1oJJv {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  min-width: 200px; }

.Validators_Header__3kO5W {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  min-height: 64px; }
  .Validators_HeaderRight__fraec {
    display: -webkit-flex;
    display: flex; }

.Validators_Hint__1C8ve {
  background: var(--gradient-orange);
  border-radius: 8px;
  box-shadow: var(--shadow-down-z1);
  color: var(--color-white);
  padding: 8px 16px;
  text-align: right; }
  .Validators_Hint__1C8ve > a {
    color: var(--color-primary);
    text-decoration: none; }

.Validators_List__3sxqw {
  margin: 0 -24px; }

.Validators_NodeActions__1pWy8 {
  display: -webkit-flex;
  display: flex; }
  .Validators_NodeActions__1pWy8 > *:not(:first-child) {
    margin: 0 0 0 8px; }

.Validators_Progress__5X0Sl {
  height: 200px; }

.Validators_Status__3-RFg {
  -webkit-align-items: center;
          align-items: center;
  color: var(--color-gray-600);
  display: -webkit-flex;
  display: flex;
  margin: 4px 0 0; }
  .Validators_Status__3-RFg:before {
    background: var(--gradient-red);
    border-radius: 100%;
    content: '';
    display: block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px; }

:root {
  --background-dark: #f1f2f4;
  --background-lighter: #fcfcfd;
  --background-light: #f8f9fb;
  --background-medium: #f1f2f4; }

:root {
  --color-alert: #ffbb38;
  --color-black: #000000;
  --color-danger: #f03d3d;
  --color-primary: #0c66ff;
  --color-success: #0bb07b;
  --color-white: #ffffff;
  --color-blue: #0c66ff;
  --color-blue-100: #f5faff;
  --color-blue-200: #ebf5ff;
  --color-blue-300: #cce6ff;
  --color-blue-400: #99ccff;
  --color-blue-500: #5aacff;
  --color-blue-600: #007fff;
  --color-blue-700: #0c66ff;
  --color-blue-800: #0d55cf;
  --color-blue-900: #0a44a5;
  --color-blue-gray: #0a1f44;
  --color-blue-gray-100: #758195;
  --color-blue-gray-200: #6c798f;
  --color-blue-gray-300: #5d6c84;
  --color-blue-gray-400: #53627c;
  --color-blue-gray-500: #445571;
  --color-blue-gray-600: #364866;
  --color-blue-gray-700: #273a5b;
  --color-blue-gray-800: #182c4f;
  --color-blue-gray-900: #0a1f44;
  --color-gray: #8a94a6;
  --color-gray-100: #fcfcfd;
  --color-gray-200: #f8f9fb;
  --color-gray-300: #f1f2f4;
  --color-gray-400: #e1e4e8;
  --color-gray-500: #c9ced6;
  --color-gray-600: #b5bbc6;
  --color-gray-700: #a6aebc;
  --color-gray-800: #98a1b1;
  --color-gray-900: #8a94a6;
  --color-green: #0bb07b;
  --color-green-100: #eafcf7;
  --color-green-200: #cff8eb;
  --color-green-300: #92eccf;
  --color-green-400: #6ddfba;
  --color-green-500: #3ed3a3;
  --color-green-600: #22c993;
  --color-green-700: #0bb07b;
  --color-green-800: #00865a;
  --color-green-900: #006242;
  --color-orange: #ffbb38;
  --color-orange-100: #fffcf5;
  --color-orange-200: #fff6e4;
  --color-orange-300: #ffecc7;
  --color-orange-400: #ffdc99;
  --color-orange-500: #ffca65;
  --color-orange-600: #ffbb38;
  --color-orange-700: #ffad0d;
  --color-orange-800: #ff8f00;
  --color-orange-900: #f07300;
  --color-red: #f03d3d;
  --color-red-100: #fff8f8;
  --color-red-200: #ffeaea;
  --color-red-300: #ffc2c2;
  --color-red-400: #ff8d8d;
  --color-red-500: #ff5d5d;
  --color-red-600: #f03d3d;
  --color-red-700: #dd2727;
  --color-red-800: #bd0303;
  --color-red-900: #a50000; }

:root {
  --gradient-blue: linear-gradient(to bottom, #1285ff, #20d1ff);
  --gradient-blue-purple: linear-gradient(106deg, #916bff, #3366ff);
  --gradient-green: linear-gradient(106deg, #57d968, #00d590);
  --gradient-orange: linear-gradient(106deg, #ff8f00, #ffbb38);
  --gradient-purple: linear-gradient(106deg, #d438ff, #8c58ff);
  --gradient-red: linear-gradient(106deg, #ff5980, #ffa882); }

:root {
  --shadow-down-z1: 0 1px 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z2: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z3: 0 8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z4: 0 18px 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z5: 0 26px 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-center-z1: 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-center-z2: 0 0 4px 0 rgba(10, 31, 68, 0.1);
  --shadow-center-z3: 0 0 10px 0 rgba(10, 31, 68, 0.1);
  --shadow-center-z4: 0 0 18px 0 rgba(10, 31, 68, 0.1);
  --shadow-center-z5: 0 0 26px 0 rgba(10, 31, 68, 0.1);
  --shadow-left-z1: -1px 0 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z2: -3px 0 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z3: -8px 0 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z4: -18px 0 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z5: -26px 0 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z1: 1px 0 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z2: 3px 0 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z3: 8px 0 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z4: 18px 0 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z5: 26px 0 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z1: 0 -1px 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z2: 0 -3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z3: 0 -8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z4: 0 -18px 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z5: 0 -26px 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08); }

html {
  box-sizing: border-box; }

body {
  background: #f8f9fb;
  background: var(--background-light);
  color: #0a1f44;
  color: var(--color-blue-gray-900);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-transform: none !important; }

* {
  box-shadow: none;
  box-sizing: inherit;
  transition: all .2s; }
  *::after, *::before {
    box-sizing: inherit; }
  *:focus {
    outline: none; }

button {
  font-family: inherit;
  text-align: inherit; }

.App_Root__yVl69 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  min-height: 100vh; }

.App_Wrapper__29pi6 {
  max-width: 1200px;
  padding: 120px 0;
  width: 100%; }


/*# sourceMappingURL=main.c17a6a82.chunk.css.map*/