.Typography_Root__1Sh5A {
  margin: 0; }
  .Typography_RootColorAlert__coZtI {
    color: var(--color-alert); }
  .Typography_RootColorDanger__wHuQb {
    color: var(--color-danger); }
  .Typography_RootColorDark__1YjgF {
    color: var(--color-blue-gray-900); }
  .Typography_RootColorLight__vFz_T {
    color: var(--color-gray-900); }
  .Typography_RootColorLighter__56G5F {
    color: var(--color-gray-700); }
  .Typography_RootColorMedium__20A6I {
    color: var(--color-blue-gray-400); }
  .Typography_RootColorPrimary__57Q1M {
    color: var(--color-primary); }
  .Typography_RootColorSuccess__27Nhq {
    color: var(--color-success); }
  .Typography_RootNowrap__1bASg {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .Typography_RootVariantH1__ekP8E {
    font-size: 96px;
    font-weight: 300;
    letter-spacing: -1.5px;
    line-height: 112px; }
  .Typography_RootVariantH2__2jsoN {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -.5px;
    line-height: 72px; }
  .Typography_RootVariantH3__e3wPX {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px; }
  .Typography_RootVariantH4__nIRep {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 40px; }
  .Typography_RootVariantH5__1zG25 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px; }
  .Typography_RootVariantH6__15U-G {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px; }
  .Typography_RootVariantBody1__2kEJr {
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 28px; }
  .Typography_RootVariantBody2__2pXvg {
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 20px; }
  .Typography_RootVariantButton__19vtW {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.3px;
    line-height: 16px;
    text-transform: uppercase; }
  .Typography_RootVariantCaption__1JLKz {
    font-size: 12px;
    letter-spacing: .4px;
    line-height: 16px; }
  .Typography_RootVariantOverline__2v6nJ {
    font-size: 10px;
    letter-spacing: 1.5px;
    line-height: 16px;
    text-transform: uppercase; }
  .Typography_RootVariantSubtitle1__xdvC_ {
    font-size: 16px;
    letter-spacing: .2px;
    line-height: 24px; }
  .Typography_RootVariantSubtitle2__2Z4bn {
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 24px; }

.Button_Root__1m6Vy {
  -webkit-align-items: center;
          align-items: center;
  background: transparent;
  border: 0;
  border-radius: 4px;
  display: -webkit-flex;
  display: flex;
  height: 36px;
  -webkit-justify-content: center;
          justify-content: center;
  min-width: 64px;
  padding: 0 16px;
  position: relative; }
  .Button_Root__1m6Vy:hover {
    cursor: pointer; }
  .Button_RootColorDanger__IfMyr {
    background: var(--color-danger); }
    .Button_RootColorDanger__IfMyr .Button_Content__3nFRV {
      color: var(--color-white); }
  .Button_RootColorPrimary__3fTdN {
    background: var(--color-primary); }
    .Button_RootColorPrimary__3fTdN .Button_Content__3nFRV {
      color: var(--color-white); }
  .Button_RootColorSecondary__1kjtZ {
    background: var(--color-white); }
  .Button_RootColorSuccess__z6cv2 {
    background: var(--color-success); }
    .Button_RootColorSuccess__z6cv2 .Button_Content__3nFRV {
      color: var(--color-white); }
  .Button_RootGradientGreen__3i134 {
    background: var(--gradient-green); }
    .Button_RootGradientGreen__3i134 .Button_Content__3nFRV,
    .Button_RootGradientGreen__3i134 .Button_Icon__3Xw8X {
      color: var(--color-white); }
  .Button_RootGradientOrange__1AFdd {
    background: var(--gradient-orange); }
    .Button_RootGradientOrange__1AFdd .Button_Content__3nFRV,
    .Button_RootGradientOrange__1AFdd .Button_Icon__3Xw8X {
      color: var(--color-white); }
  .Button_RootGradientPurple__2oJHX {
    background: var(--gradient-purple); }
    .Button_RootGradientPurple__2oJHX .Button_Content__3nFRV,
    .Button_RootGradientPurple__2oJHX .Button_Icon__3Xw8X {
      color: var(--color-white); }
  .Button_RootGradientRed__1u4cZ {
    background: var(--gradient-red); }
    .Button_RootGradientRed__1u4cZ .Button_Content__3nFRV,
    .Button_RootGradientRed__1u4cZ .Button_Icon__3Xw8X {
      color: var(--color-white); }
  .Button_RootVariantFilled__2pybP {
    box-shadow: var(--shadow-down-z1); }
    .Button_RootVariantFilled__2pybP:hover {
      box-shadow: var(--shadow-down-z3); }
  .Button_RootVariantFull__3mPpw .Button_Icon__3Xw8X {
    font-size: 16px;
    height: 18px;
    margin: 0 8px 0 -4px;
    width: 18px; }
  .Button_RootVariantFullWidth__1tfCI {
    width: 100%; }
  .Button_RootVariantIcon__GCZKQ {
    height: 36px;
    min-width: 36px;
    padding: 0;
    width: 36px; }
    .Button_RootVariantIcon__GCZKQ:hover {
      background: var(--background-dark); }

.Button_Content__3nFRV {
  max-width: 100%; }

.Button_Icon__3Xw8X {
  -webkit-align-items: center;
          align-items: center;
  color: inherit;
  display: -webkit-flex !important;
  display: flex !important;
  font-size: 20px;
  height: 24px;
  -webkit-justify-content: center;
          justify-content: center;
  width: 24px; }

.Progress_Root__2HBfD {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%; }
  .Progress_RootColorPrimary__2X7JC .Progress_Circle__LpQqN {
    stroke: var(--color-primary); }
  .Progress_RootColorPrimary__2X7JC .Progress_Line__2eU0s {
    background: var(--color-primary); }
  .Progress_RootColorSuccess__KiJcl .Progress_Circle__LpQqN {
    stroke: var(--color-success); }
  .Progress_RootColorSuccess__KiJcl .Progress_Line__2eU0s {
    background: var(--color-success); }
  .Progress_RootVariantLinear__1G4ye .Progress_Progress__1sW3K {
    border-radius: 4px;
    height: 6px;
    overflow: hidden;
    width: 100%; }
  .Progress_RootVariantLinear__1G4ye.Progress_RootColorPrimary__2X7JC .Progress_Progress__1sW3K {
    background: var(--color-blue-300); }
  .Progress_RootVariantLinear__1G4ye.Progress_RootColorSuccess__KiJcl .Progress_Progress__1sW3K {
    background: var(--color-green-300); }
  .Progress_RootVariantIndeterminate__2owZg .Progress_Circle__LpQqN {
    -webkit-animation: Progress_progressCircularDash__1Ny4a 1.6s ease-in-out infinite;
            animation: Progress_progressCircularDash__1Ny4a 1.6s ease-in-out infinite; }
  .Progress_RootVariantIndeterminate__2owZg.Progress_RootVariantCircle__1G3x0 .Progress_Progress__1sW3K {
    -webkit-animation: Progress_progressCircularRotate__1IPB0 1.6s linear infinite;
            animation: Progress_progressCircularRotate__1IPB0 1.6s linear infinite; }
  .Progress_RootVariantIndeterminate__2owZg.Progress_RootVariantLinear__1G4ye .Progress_Line__2eU0s {
    -webkit-animation: Progress_progressLinear__22zM7 1.6s linear infinite;
            animation: Progress_progressLinear__22zM7 1.6s linear infinite; }

.Progress_Line__2eU0s {
  height: 100%;
  position: absolute; }

.Progress_Progress__1sW3K {
  position: relative; }

@-webkit-keyframes Progress_progressCircularDash__1Ny4a {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px; }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px; }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px; } }

@keyframes Progress_progressCircularDash__1Ny4a {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px; }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px; }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -120px; } }

@-webkit-keyframes Progress_progressCircularRotate__1IPB0 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes Progress_progressCircularRotate__1IPB0 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes Progress_progressLinear__22zM7 {
  0% {
    left: 0%;
    width: 0%; }
  25% {
    left: 0%;
    width: 25%; }
  50% {
    left: 30%;
    width: 60%; }
  75% {
    left: 75%;
    width: 35%; }
  100% {
    left: 100%;
    width: 0%; } }

@keyframes Progress_progressLinear__22zM7 {
  0% {
    left: 0%;
    width: 0%; }
  25% {
    left: 0%;
    width: 25%; }
  50% {
    left: 30%;
    width: 60%; }
  75% {
    left: 75%;
    width: 35%; }
  100% {
    left: 100%;
    width: 0%; } }

.Table_Root__3K-Yp .ReactTable {
  border: 0; }
  .Table_Root__3K-Yp .ReactTable .rt-expander {
    margin: 0 0 0 -4px; }
  .Table_Root__3K-Yp .ReactTable .rt-table {
    overflow: visible; }
  .Table_Root__3K-Yp .ReactTable .rt-tbody {
    overflow: visible;
    overflow: initial; }
  .Table_Root__3K-Yp .ReactTable .rt-td {
    -webkit-align-items: center;
            align-items: center;
    border: 0 !important;
    display: -webkit-flex;
    display: flex;
    overflow: visible;
    padding: 0 16px; }
  .Table_Root__3K-Yp .ReactTable .rt-thead {
    border-bottom: 2px solid var(--background-dark) !important;
    box-shadow: none !important;
    height: 48px;
    padding: 0 8px; }
    .Table_Root__3K-Yp .ReactTable .rt-thead .rt-th {
      -webkit-align-self: center;
              align-self: center;
      border: 0 !important;
      color: var(--color-gray);
      display: -webkit-flex;
      display: flex;
      font-size: 12px;
      font-weight: 500;
      height: 48px;
      overflow: visible;
      padding: 0 16px; }
      .Table_Root__3K-Yp .ReactTable .rt-thead .rt-th > div:first-child {
        -webkit-align-items: center;
                align-items: center;
        display: -webkit-flex;
        display: flex; }
        .Table_Root__3K-Yp .ReactTable .rt-thead .rt-th > div:first-child:after {
          -webkit-align-items: center;
                  align-items: center;
          display: -webkit-flex;
          display: flex;
          font-family: 'Font Awesome 5 Pro';
          font-size: 14px;
          height: 18px;
          -webkit-justify-content: center;
                  justify-content: center;
          margin: 0 0 0 4px;
          width: 18px; }
      .Table_Root__3K-Yp .ReactTable .rt-thead .rt-th.-sort-asc > div:first-child:after {
        content: '\F160'; }
      .Table_Root__3K-Yp .ReactTable .rt-thead .rt-th.-sort-desc > div:first-child:after {
        content: '\F161'; }
      .Table_Root__3K-Yp .ReactTable .rt-thead .rt-th.-sort-asc, .Table_Root__3K-Yp .ReactTable .rt-thead .rt-th.-sort-desc {
        box-shadow: none;
        color: var(--color-blue-gray); }
  .Table_Root__3K-Yp .ReactTable .rt-tr {
    min-height: 48px;
    padding: 0 8px; }
  .Table_Root__3K-Yp .ReactTable .rt-tr-group {
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 20px;
    min-height: 48px; }
    .Table_Root__3K-Yp .ReactTable .rt-tr-group:hover {
      background: var(--background-lighter); }

.Tooltip_Root__2AjCN {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  position: relative; }
  .Tooltip_Root__2AjCN:hover .Tooltip_Tooltip__2Pzpi {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition-delay: 1.5s;
    visibility: visible; }

.Tooltip_Tooltip__2Pzpi {
  -webkit-align-items: center;
          align-items: center;
  background: #000;
  border-radius: 4px;
  bottom: -32px;
  color: var(--color-white);
  display: -webkit-flex;
  display: flex;
  height: 24px;
  opacity: 0;
  padding: 0 8px;
  position: absolute;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  transition-delay: 0s;
  visibility: hidden;
  z-index: 10; }

.Actions_Root__3CPYH {
  display: -webkit-flex;
  display: flex; }
  .Actions_Root__3CPYH > *:not(:first-child) {
    margin: 0 0 0 8px; }

.Actions_ButtonVariantDeposit__2-LZE:hover .Actions_Icon__oJEyB {
  color: var(--color-success); }

.Actions_ButtonVariantPause__3YWpy:hover .Actions_Icon__oJEyB {
  color: var(--color-danger); }

.Actions_ButtonVariantPlay__8rOa8:hover .Actions_Icon__oJEyB {
  color: var(--color-primary); }

.Actions_ButtonVariantWithdraw__MBlEW:hover .Actions_Icon__oJEyB {
  color: var(--color-primary); }

.Actions_Icon__oJEyB {
  color: var(--color-gray-400);
  font-size: 20px; }

.Field_Root__1EEse {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  max-width: 100%;
  width: 100%; }
  .Field_RootColorError__1AOcq .Field_Text__21ChR {
    color: var(--color-danger); }
  .Field_RootColorDanger__dzKIY .Field_Text__21ChR {
    color: var(--color-orange-500); }
  .Field_RootColorOrange__3FDbH .Field_Text__21ChR {
    color: var(--color-orange-900); }
  .Field_RootColorSuccess__XdFG- .Field_Text__21ChR {
    color: var(--color-success); }
  .Field_RootIsDisabled__1anw8 {
    color: var(--color-gray-600); }
    .Field_RootIsDisabled__1anw8 .Field_Text__21ChR {
      max-width: 100%; }
  .Field_RootVariantHash__Uq1AU .Field_Text__21ChR {
    max-width: calc(100% - 44px); }
  .Field_RootVariantPing__3Cmhp .Field_Text__21ChR {
    font-size: 18px;
    text-align: center; }

.Field_Copy__1_ftc {
  margin: 0 8px 0 0; }

.Field_Health__QVf8s {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 28px;
  position: relative;
  width: 192px; }
  .Field_HealthBar__2ohW7 {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1; }
  .Field_HealthIndex__20avs {
    -webkit-align-items: center;
            align-items: center;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
            justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2; }
    .Field_HealthIndex__20avs > div {
      background: rgba(0, 0, 0, 0.4);
      padding: 0 2px; }

.Field_Icon__1y2R_ {
  color: var(--color-primary); }

.Field_Text__21ChR {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Field_Word__7IZfU {
  height: 28px;
  overflow: hidden;
  width: 12px; }
  .Field_WordVariantGreen__u0ifG {
    background: var(--color-success); }
  .Field_WordVariantLight__209gH {
    background: var(--color-green-400); }
  .Field_WordVariantOrange__1mdNP {
    background: var(--color-alert); }
  .Field_WordVariantRed__30aPC {
    background: var(--color-danger); }
  .Field_WordVariantYellow__1fwr- {
    background: var(--color-orange-400); }

.Stat_Root__2GDmQ {
  border-top: 1px solid var(--background-dark);
  padding: 24px 0 24px 48px;
  width: 100%; }

.Stat_Description__3XIDl {
  color: var(--color-blue-600);
  margin: 8px 0 0; }

.Stat_Label__2X5DJ {
  color: var(--color-gray); }

.Stat_List__PzRWl {
  display: -webkit-flex;
  display: flex;
  margin: 20px 0 0; }
  .Stat_List__PzRWl > *:not(:first-child) {
    margin: 0 0 0 64px; }

.Stat_Ping__2lHlz {
  margin: 20px 0 0; }

.Stat_ValueColorAlert__qOBi1 {
  color: var(--color-alert); }

.Stat_ValueColorDanger__10BlT {
  color: var(--color-danger); }

.Stat_ValueColorOrange__1xoPf {
  color: var(--color-orange-900); }

.Stat_ValueColorPrimary__3k10d {
  color: var(--color-primary); }

.Stat_ValueColorSuccess__lKCXF {
  color: var(--color-success); }

.Table_Root__1LHGd {
  border-bottom: 1px solid var(--background-dark) !important; }
  .Table_Root__1LHGd .rt-td:first-child {
    border-right: 1px solid var(--background-dark) !important; }
  .Table_RootIsDisabled__2z9bx {
    background: var(--background-lighter);
    color: var(--color-gray); }
  .Table_RootIsFavorite__35zVV {
    background: #fff6ce;
    border-bottom: 1px solid #ffed90 !important;
    color: var(--color-alert); }
    .Table_RootIsFavorite__35zVV:hover {
      background: #fff6ce !important; }
    .Table_RootIsFavorite__35zVV .rt-td:first-child {
      border-right: 1px solid #ffed90 !important; }

.Modal_Root__yeKd5 {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  -webkit-justify-content: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10; }

.Modal_Backdrop__2U0OG {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }
  .Modal_Backdrop__2U0OG:hover {
    cursor: pointer; }

.Modal_Container__3chPx {
  -webkit-animation: Modal_modalInit__1q-W- 0.2s ease-in-out;
          animation: Modal_modalInit__1q-W- 0.2s ease-in-out;
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z5);
  max-height: calc(100% - 160px);
  max-width: 960px;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 24px;
  position: relative;
  z-index: 2;
  width: 100%; }

.Modal_Title__H_Ahr {
  margin: 0 0 20px; }

@-webkit-keyframes Modal_modalInit__1q-W- {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes Modal_modalInit__1q-W- {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.Common_Actions__33Bpy {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 40px 0 0; }
  .Common_ActionsConsole__5pJ-t {
    -webkit-flex: 0 0 40px;
            flex: 0 0 40px;
    margin: 24px 0 0; }

.Common_Alert__3idYs {
  background: var(--color-orange-200);
  border: 1px solid var(--color-orange-400);
  border-radius: 4px;
  color: var(--color-orange);
  padding: 16px; }

.Common_Console__2FR0d {
  background: var(--color-blue-gray-900);
  margin: 0 -24px;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: monospace, sans-serif;
  font-size: 14px;
  line-height: 20px;
  max-height: calc(100% - 40px);
  overflow-x: visible;
  overflow-y: hidden;
  padding: 24px; }

.Common_Container__2xlbZ {
  max-width: 480px; }
  .Common_ContainerConsole__31b0h {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    max-height: calc(100% - 80px);
    max-width: 720px; }
    .Common_ContainerConsole__31b0h > div:nth-child(2) {
      display: -webkit-flex;
      display: flex;
      -webkit-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-flex-direction: column;
              flex-direction: column; }

.Common_Error__1m0IR {
  color: var(--color-danger); }

.Common_Loading__3eam9 {
  -webkit-align-items: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.Common_MessageDate__2nsR3 {
  color: var(--color-gray); }

.Common_MessagePub__M_dH8 {
  color: var(--color-success);
  margin: 16px 0 0; }

.Common_MessageText__3A8R9 {
  color: var(--color-white); }
  .Common_MessageTextIsFailure__220j0 {
    color: var(--color-danger); }
  .Common_MessageTextIsSuccess__KJLCP {
    color: var(--color-success); }

.Common_NodeGroup__PnBUy {
  display: -webkit-flex;
  display: flex; }
  .Common_NodeGroup__PnBUy > *:first-child {
    margin: 0 24px 0 0; }
  .Common_NodeGroup__PnBUy > *:last-child {
    margin: 0 0 0 24px; }

.Common_Progress__2zAaU {
  color: var(--color-success);
  margin: 0 8px 0 0; }

.Common_Retry__3clhB {
  color: var(--color-danger); }

.Form_Error__3vX0n {
  background: var(--color-red-200);
  border: 1px solid var(--color-red-400);
  border-radius: 4px;
  color: var(--color-danger);
  margin: 0 0 20px;
  padding: 16px; }

.Field_Root__1qu6t:not(:first-child) {
  margin: 20px 0 0; }

.Field_Error__394go {
  color: var(--color-danger); }

.Field_Header__1mBjO {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 0 0 8px; }

.Field_Label__3lb62 {
  display: block;
  color: var(--color-gray); }
  .Field_Label__3lb62:hover {
    cursor: pointer; }

.Input_Root__3VOXC {
  border: 1px solid var(--background-dark);
  border-radius: 4px;
  height: 48px;
  overflow: hidden; }
  .Input_RootIsErred__1LRom {
    border-color: var(--color-danger);
    box-shadow: 0 0 0 1px var(--color-danger); }
  .Input_RootIsFocused__2gECy {
    border-color: var(--color-blue);
    box-shadow: 0 0 0 1px var(--color-blue); }
  .Input_RootIsReadOnly__2UrZF {
    cursor: not-allowed; }
    .Input_RootIsReadOnly__2UrZF .Input_Input__3_gVY {
      background: var(--background-lighter);
      pointer-events: none; }

.Input_Input__3_gVY {
  background: var(--color-white);
  border: 0;
  color: var(--color-blue-gray);
  font-family: inherit;
  font-size: 16px;
  height: 100%;
  letter-spacing: .2px;
  line-height: 24px;
  padding: 0 16px;
  width: 100%; }
  .Input_Input__3_gVY:focus {
    box-shadow: none !important; }
  .Input_Input__3_gVY::-webkit-input-placeholder {
    color: var(--color-gray-400); }
  .Input_Input__3_gVY::-moz-placeholder {
    color: var(--color-gray-400); }
  .Input_Input__3_gVY:-ms-input-placeholder {
    color: var(--color-gray-400); }
  .Input_Input__3_gVY:-moz-placeholder {
    color: var(--color-gray-400); }

.Select_Root__3FL7V {
  position: relative; }
  .Select_RootIsEmpty__1m3YH .Select_Icon__3dq0w {
    width: 100%; }
  .Select_RootIsFocused__2aSgY .Select_Container__1Ag-4 {
    border-color: var(--color-blue);
    box-shadow: 0 0 0 1px var(--color-blue); }
  .Select_RootIsMultiple__1oO9N:not(.Select_RootIsEmpty__1m3YH):not(.Select_RootIsEmpty__1m3YH):not(.Select_RootIsFocused__2aSgY) .Select_Input__2RTl4 {
    height: 0;
    width: 0; }
  .Select_RootIsMultiple__1oO9N:not(.Select_RootIsEmpty__1m3YH) .Select_Input__2RTl4 {
    padding: 0 8px;
    width: auto; }

.Select_Container__1Ag-4 {
  background: var(--color-white);
  border: 1px solid var(--background-dark);
  border-radius: 4px;
  display: -webkit-flex;
  display: flex;
  min-height: 48px;
  padding: 4px;
  overflow: hidden;
  width: 100%; }

.Select_Control__3OUYN {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: calc(100% - 46px);
  transition: all 0s; }

.Select_Dropdown__AfO2O {
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z3);
  left: 0;
  max-height: calc(256px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  z-index: 2; }

.Select_Input__2RTl4 {
  background: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  height: 40px;
  letter-spacing: .2px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 16px;
  transition: all 0s;
  width: 100%; }
  .Select_Input__2RTl4:focus {
    box-shadow: none !important; }
  .Select_Input__2RTl4::-webkit-input-placeholder {
    color: var(--color-gray-400); }
  .Select_Input__2RTl4::-moz-placeholder {
    color: var(--color-gray-400); }
  .Select_Input__2RTl4:-ms-input-placeholder {
    color: var(--color-gray-400); }
  .Select_Input__2RTl4:-moz-placeholder {
    color: var(--color-gray-400); }

.Select_List__1SrdO {
  padding: 8px 0; }

.Select_Option__1BayA {
  -webkit-align-items: center;
          align-items: center;
  background: var(--color-gray-400);
  border-radius: 666px;
  display: -webkit-flex;
  display: flex;
  height: 32px;
  margin: 4px;
  padding: 0 12px; }
  .Select_OptionDelete__J0gqy {
    background: transparent;
    border: 0;
    height: 18px;
    margin: 0 0 0 8px;
    padding: 0;
    width: 18px; }
    .Select_OptionDelete__J0gqy:hover {
      cursor: pointer; }
  .Select_OptionIcon__Dr8xd {
    color: var(--color-blue-gray-600);
    font-size: 18px;
    height: 100%;
    width: 100%; }

.Item_Root__3osTD {
  background: transparent;
  border: 0;
  border-radius: 0;
  height: 48px;
  padding: 0 16px;
  width: 100%; }
  .Item_Root__3osTD:hover {
    background: var(--background-light);
    cursor: pointer; }

.Metamask_Root__2gOXS {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10; }

.Metamask_Cover__3tB4a {
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.Metamask_Container__3mAJl {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2; }

.Metamask_Logo__2rv2O {
  height: 160px;
  width: 160px; }

.Metamask_Title__1RWdC {
  margin: 20px 0 0; }

.Determine_Root__2jSKG {
  margin: 12px -24px 0;
  padding: 24px; }
  .Determine_RootIsSelected__2udin {
    background: #fff6ce;
    border-bottom: 1px solid #ffed90;
    border-top: 1px solid #ffed90; }

.Determine_Content__v2nnX {
  color: var(--color-gray);
  margin: 16px 0 0; }

.Guide_Container__1uW-z {
  max-width: 680px; }

.Guide_Frame___HqMb {
  margin: 16px 0 0; }

.Guide_Link__qEyZz {
  color: var(--color-primary);
  text-decoration: none; }

.Guide_Steps__2y3Nr {
  display: -webkit-flex;
  display: flex;
  margin: 16px 0 0; }
  .Guide_Steps__2y3Nr > * {
    height: 512px;
    width: 304px; }
    .Guide_Steps__2y3Nr > *:not(:first-child) {
      margin: 0 0 0 20px; }

.Form_Actions__2qpE0 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 40px 0 0; }
  .Form_ActionsConsole__2qkEm {
    margin: 24px 0 0; }

.Validators_Root__27WYD {
  background: var(--color-white);
  border-radius: 4px;
  box-shadow: var(--shadow-down-z2);
  padding: 24px; }
  .Validators_RootIsConnected__1_OqY .Validators_Status__1IYZE:before {
    background: var(--gradient-green); }
  .Validators_RootIsOwner__3x8p5 .Validators_Status__1IYZE:before {
    background: var(--gradient-purple); }

.Validators_Actions__3zHT9 {
  -webkit-align-items: flex-end;
          align-items: flex-end;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column; }
  .Validators_Actions__3zHT9 > *:not(:first-child) {
    margin: 12px 0 0; }

.Validators_Connecting__3pDWl {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  min-width: 200px; }

.Validators_Header__1eHYH {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  min-height: 64px; }
  .Validators_HeaderRight__20SUK {
    display: -webkit-flex;
    display: flex; }

.Validators_Hint__2jhhj {
  background: var(--gradient-orange);
  border-radius: 8px;
  box-shadow: var(--shadow-down-z1);
  color: var(--color-white);
  padding: 8px 16px;
  text-align: right; }
  .Validators_Hint__2jhhj > a {
    color: var(--color-primary);
    text-decoration: none; }

.Validators_List__3iatY {
  margin: 0 -24px; }

.Validators_NodeActions__2hxSR {
  display: -webkit-flex;
  display: flex; }
  .Validators_NodeActions__2hxSR > *:not(:first-child) {
    margin: 0 0 0 8px; }

.Validators_Progress__2owT1 {
  height: 200px; }

.Validators_Status__1IYZE {
  -webkit-align-items: center;
          align-items: center;
  color: var(--color-gray-600);
  display: -webkit-flex;
  display: flex;
  margin: 4px 0 0; }
  .Validators_Status__1IYZE:before {
    background: var(--gradient-red);
    border-radius: 100%;
    content: '';
    display: block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px; }

:root {
  --background-dark: #f1f2f4;
  --background-lighter: #fcfcfd;
  --background-light: #f8f9fb;
  --background-medium: #f1f2f4; }

:root {
  --color-alert: #ffbb38;
  --color-black: #000000;
  --color-danger: #f03d3d;
  --color-primary: #0c66ff;
  --color-success: #0bb07b;
  --color-white: #ffffff;
  --color-blue: #0c66ff;
  --color-blue-100: #f5faff;
  --color-blue-200: #ebf5ff;
  --color-blue-300: #cce6ff;
  --color-blue-400: #99ccff;
  --color-blue-500: #5aacff;
  --color-blue-600: #007fff;
  --color-blue-700: #0c66ff;
  --color-blue-800: #0d55cf;
  --color-blue-900: #0a44a5;
  --color-blue-gray: #0a1f44;
  --color-blue-gray-100: #758195;
  --color-blue-gray-200: #6c798f;
  --color-blue-gray-300: #5d6c84;
  --color-blue-gray-400: #53627c;
  --color-blue-gray-500: #445571;
  --color-blue-gray-600: #364866;
  --color-blue-gray-700: #273a5b;
  --color-blue-gray-800: #182c4f;
  --color-blue-gray-900: #0a1f44;
  --color-gray: #8a94a6;
  --color-gray-100: #fcfcfd;
  --color-gray-200: #f8f9fb;
  --color-gray-300: #f1f2f4;
  --color-gray-400: #e1e4e8;
  --color-gray-500: #c9ced6;
  --color-gray-600: #b5bbc6;
  --color-gray-700: #a6aebc;
  --color-gray-800: #98a1b1;
  --color-gray-900: #8a94a6;
  --color-green: #0bb07b;
  --color-green-100: #eafcf7;
  --color-green-200: #cff8eb;
  --color-green-300: #92eccf;
  --color-green-400: #6ddfba;
  --color-green-500: #3ed3a3;
  --color-green-600: #22c993;
  --color-green-700: #0bb07b;
  --color-green-800: #00865a;
  --color-green-900: #006242;
  --color-orange: #ffbb38;
  --color-orange-100: #fffcf5;
  --color-orange-200: #fff6e4;
  --color-orange-300: #ffecc7;
  --color-orange-400: #ffdc99;
  --color-orange-500: #ffca65;
  --color-orange-600: #ffbb38;
  --color-orange-700: #ffad0d;
  --color-orange-800: #ff8f00;
  --color-orange-900: #f07300;
  --color-red: #f03d3d;
  --color-red-100: #fff8f8;
  --color-red-200: #ffeaea;
  --color-red-300: #ffc2c2;
  --color-red-400: #ff8d8d;
  --color-red-500: #ff5d5d;
  --color-red-600: #f03d3d;
  --color-red-700: #dd2727;
  --color-red-800: #bd0303;
  --color-red-900: #a50000; }

:root {
  --gradient-blue: linear-gradient(to bottom, #1285ff, #20d1ff);
  --gradient-blue-purple: linear-gradient(106deg, #916bff, #3366ff);
  --gradient-green: linear-gradient(106deg, #57d968, #00d590);
  --gradient-orange: linear-gradient(106deg, #ff8f00, #ffbb38);
  --gradient-purple: linear-gradient(106deg, #d438ff, #8c58ff);
  --gradient-red: linear-gradient(106deg, #ff5980, #ffa882); }

:root {
  --shadow-down-z1: 0 1px 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z2: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z3: 0 8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z4: 0 18px 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-down-z5: 0 26px 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-center-z1: 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-center-z2: 0 0 4px 0 rgba(10, 31, 68, 0.1);
  --shadow-center-z3: 0 0 10px 0 rgba(10, 31, 68, 0.1);
  --shadow-center-z4: 0 0 18px 0 rgba(10, 31, 68, 0.1);
  --shadow-center-z5: 0 0 26px 0 rgba(10, 31, 68, 0.1);
  --shadow-left-z1: -1px 0 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z2: -3px 0 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z3: -8px 0 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z4: -18px 0 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-left-z5: -26px 0 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z1: 1px 0 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z2: 3px 0 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z3: 8px 0 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z4: 18px 0 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-right-z5: 26px 0 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z1: 0 -1px 1px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z2: 0 -3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z3: 0 -8px 10px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z4: 0 -18px 18px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
  --shadow-up-z5: 0 -26px 26px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08); }

html {
  box-sizing: border-box; }

body {
  background: #f8f9fb;
  background: var(--background-light);
  color: #0a1f44;
  color: var(--color-blue-gray-900);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-transform: none !important; }

* {
  box-shadow: none;
  box-sizing: inherit;
  transition: all .2s; }
  *::after, *::before {
    box-sizing: inherit; }
  *:focus {
    outline: none; }

button {
  font-family: inherit;
  text-align: inherit; }

.App_Root__10cJX {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  min-height: 100vh; }

.App_Wrapper__1G8Ts {
  max-width: 1200px;
  padding: 120px 0;
  width: 100%; }


/*# sourceMappingURL=main.1b1471d9.chunk.css.map*/