.Root {
  align-items: center;
  display: flex;
  max-width: 100%;
  width: 100%;

  &Color {
    &Error {
      .Text {
        color: var(--color-danger);
      }
    }

    &Danger {
      .Text {
        color: var(--color-orange-500);
      }
    }

    &Orange {
      .Text {
        color: var(--color-orange-900);
      }
    }

    &Success {
      .Text {
        color: var(--color-success);
      }
    }
  }

  &Is {
    &Disabled {
      color: var(--color-gray-600);

      .Text {
        max-width: 100%;
      }
    }
  }

  &Variant {
    &Hash {
      .Text {
        max-width: calc(100% - 44px);
      }
    }

    &Ping {
      .Text {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

.Copy {
  margin: 0 8px 0 0;
}

.Health {
  align-items: center;
  display: flex;
  height: 28px;
  position: relative;
  width: 192px;

  &Bar {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &Index {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;

    & > div {
      background: rgba(0, 0, 0, .4);
      padding: 0 2px;
    }
  }
}

.Icon {
  color: var(--color-primary);
}

.Text {
  flex: 1 1 auto;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Word {
  height: 28px;
  overflow: hidden;
  width: 12px;

  &Variant {
    &Green {
      background: var(--color-success);
    }

    &Light {
      background: var(--color-green-400);
    }

    &Orange {
      background: var(--color-alert);
    }

    &Red {
      background: var(--color-danger);
    }

    &Yellow {
      background: var(--color-orange-400);
    }
  }
}
