.Root {
  border-top: 1px solid var(--background-dark);
  padding: 24px 0 24px 48px;
  width: 100%;
}

.Description {
  color: var(--color-blue-600);
  margin: 8px 0 0;
}

.Label {
  color: var(--color-gray);
}

.List {
  display: flex;
  margin: 20px 0 0;

  & > *:not(:first-child) {
    margin: 0 0 0 64px;
  }
}

.Ping {
  margin: 20px 0 0;
}

.Value {
  &Color {
    &Alert {
      color: var(--color-alert);
    }

    &Danger {
      color: var(--color-danger);
    }

    &Orange {
      color: var(--color-orange-900);
    }

    &Primary {
      color: var(--color-primary);
    }

    &Success {
      color: var(--color-success);
    }
  }
}
